/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 1, 2016, 11:29:34 PM
    Author     : Md.Aktaruzzaman
    All custom made admin css goes here
*/
/*Login Form specific*/
.login_content form input[type="submit"], #content form .submit {
    margin-left: 0;
}
/*-----------------------End----------*/
.profile_info {
    float: left;
    font-weight: bold;
    margin-left: 15px;
    padding: 25px 10px 10px;
    text-transform: uppercase;
    width: 100%;
}
.fa{
    color:#ffffff;
}
.nav.navbar-nav > li > a {
    color: #ffffff!important;
    font-weight: bold;
}

.dashboard-gallery ul {
  list-style: outside none none;
}

.dashboard .glyphicon {
  color: red;
  line-height: 1;
  top: 1px;
}
.gallery-glyphicon {
  color: #ff0000;
  float: left;
  font-size: 25px;
  margin-left: 120px;
  margin-top: 0px;
}